b = open('file11am.csv','a')
b.write(f"id,name,age,address ")
b.close()

In [12]:
b = open('file11am.csv','a')
n = int(input("How many rows do you want to add: "))
for i in range(1, n+1):
    name = input("Enter your name: ")
    age = int(input("Enter your age: "))
    add = input("Enter your address: ")
    b.write(f"\n {i}, {name.upper()}, {age}, {add.upper()}")
b.close()
b = open("file11am.csv",'r')
print(b.read())
b.close()

How many rows do you want to add: 6
Enter your name: ram
Enter your age: 23
Enter your address: ktm
Enter your name: shyam
Enter your age: 22
Enter your address: bkt
Enter your name: hari
Enter your age: 21
Enter your address: patan
Enter your name: bob
Enter your age: 24
Enter your address: ktm
Enter your name: alex
Enter your age: 22
Enter your address: pkr
Enter your name: ramesh
Enter your age: 21
Enter your address: bkt
id,name,age,address

 1, RAM, 23, KTM
 2, SHYAM, 22, BKT
 1, RAM, 23, KTM
 2, SHYAM, 22, BKT
 3, HARI, 21, PATAN
 4, BOB, 24, KTM
 5, ALEX, 22, PKR
 6, RAMESH, 21, BKT

In [13]:
b = open("file11am.csv",'r')
print(b.read())

id,name,age,address

 1, RAM, 23, KTM
 2, SHYAM, 22, BKT
 1, RAM, 23, KTM
 2, SHYAM, 22, BKT
 3, HARI, 21, PATAN
 4, BOB, 24, KTM
 5, ALEX, 22, PKR
 6, RAMESH, 21, BKT

In [17]:
import pandas as pd
df = pd.read_csv('file11am.csv', index_col = "Name")
df.head()
# df.tail()

        id  Age Address
Name
 RAM     1   23     KTM
 SHYAM   2   22     BKT
 RAM     1   23     KTM
 SHYAM   2   22     BKT
 HARI    3   21   PATAN

In [18]:
import pandas as pd
df = pd.read_csv('file11am.csv', index_col = "Name")
a = df['id']
a

Name
 RAM       1
 SHYAM     2
 RAM       1
 SHYAM     2
 HARI      3
 BOB       4
 ALEX      5
 RAMESH    6
Name: id, dtype: int64

In [28]:
import pandas as pd
df = pd.read_csv('file11am.csv')
df = df[df['Address']  == "KTM"]
df

Empty DataFrame
Columns: [id, Name, Age, Address]
Index: []

In [30]:
import pandas as pd
df = pd.read_csv('file11am.csv', index_col = "Name")
df

         id  Age Address
Name
 RAM      1   23     KTM
 SHYAM    2   22     BKT
 RAM      1   23     KTM
 SHYAM    2   22     BKT
 HARI     3   21   PATAN
 BOB      4   24     KTM
 ALEX     5   22     PKR
 RAMESH   6   21     BKT

In [41]:
import pandas as pd
df = pd.read_csv('file11am.csv')
df = df[df['Name'] == "BOB"]
df

Empty DataFrame
Columns: [id, Name, Age, Address]
Index: []

In [2]:
import pandas as pd
x = ['id','Address']
df = pd.read_csv('filen11am.csv',usecols=x,index_col ='id')
df

FileNotFoundError: [Errno 2] File b'filen11am.csv' does not exist: b'filen11am.csv'

In [37]:
import pandas as pd
df = pd.read_csv('file11am.csv')
df

   id     Name  Age Address
0   1      RAM   23     KTM
1   2    SHYAM   22     BKT
2   1      RAM   23     KTM
3   2    SHYAM   22     BKT
4   3     HARI   21   PATAN
5   4      BOB   24     KTM
6   5     ALEX   22     PKR
7   6   RAMESH   21     BKT