In [3]:
a = 10
b = 'Hello World'
c = 1.35
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [3]:
a = "10"
type(a)

str

In [ ]:
a = int(input('Enter any value'))
type(a)

In [11]:
# operator and operands
a = 10
b =2
a+b

12

In [1]:
# + - / * % ** //
a = int(input('Enter any value'))
b = int(input('Enter any value'))
a**b

Enter any value12
Enter any value2

144

In [2]:
a = int(input('Enter any value'))
b = int(input('Enter any value'))
a//b

Enter any value5
Enter any value2

2

In [5]:
a = "hello "
b = "world"
(a+b)*4

'hello worldhello worldhello worldhello world'

In [8]:
a = "hello"
b = "world"
(a+b)

'helloworld'

In [7]:
a = "hello "
b = "world"
print(a,b)

hello  world

In [9]:
name = "Aayush"
add = "kathmandu"
print("hello my name is",name)

hello my name is Aayush

In [11]:
name = "Aayush"
add = "kathmandu"
print("hello my name is " + name + "I am from "+add)

hello my name is AayushI am from kathmandu

In [14]:
name = "Aayush"
add = "kathmandu"
age = "25"
print("hello my name is " + name + "I am from "+add+age)

hello my name is AayushI am from kathmandu25

In [28]:
name = "Aayush"
add = "kathmandu"
age = "25"
result = "hello my name is " + name + "I am from "+add+age
print(result)
len(result)

hello my name is AayushI am from kathmandu25

44

In [24]:
name = "Aayush"
add = "kathmandu"
age = "25"
result = "hello my name is " + name + "I am from "+add+age
len(result)
result[0:20]

'hello my name is Aay'

In [25]:
result = "hello my name is " + name + "I am from "+add+age
result.upper()

'HELLO MY NAME IS AAYUSHI AM FROM KATHMANDU25'

In [26]:
result = "hello my name is " + name + "I am from "+add+age
result.lower()

'hello my name is aayushi am from kathmandu25'