In [8]:
import pandas as pd
b = open('detail.csv','a')
n = int(input("How many number do you want to enter: "))
ro = []
na = []
ag = []
ad = []
for i in range(n):
    roll = int(input("Enter your roll number:"))
    name = input("Enter your name: ")
    age = int(input("Enter your age: "))
    add = input("Enter your address: ")
    ro = ro +[roll]
    na = na+[name]
    ag = ag+[age]
    ad = ad + [add]
x = {'roll':ro, 'name':na, 'age':ag, 'add':ad}
data = pd.DataFrame(x)
data.to_csv('detail.csv')
print(x)
b.close()

How many number do you want to enter: 3
Enter your roll number:1
Enter your name: ram
Enter your age: 23
Enter your address: ktm
Enter your roll number:2
Enter your name: shyam
Enter your age: 22
Enter your address: bkt
Enter your roll number:3
Enter your name: bob
Enter your age: 21
Enter your address: patan
{'roll': [1, 2, 3], 'name': ['ram', 'shyam', 'bob'], 'age': [23, 22, 21], 'add': ['ktm', 'bkt', 'patan']}

In [26]:
import pandas as pd
data = pd.read_csv('detail.csv',usecols=x,index_col ='roll')
data

       name  age     add
roll
1       ram   23     ktm
2     shyam   22     bkt
3       bob   21   patan
4      alex   56     pkr
5      anna   26     lpt
6      flex   25  boudha
7        hh   21   akssn
8      asci   12  chvhsa

In [25]:
import csv
with open('detail.csv','a') as csvFile:
    n = int(input("How many times do you want to run the program: "))
    for i in range(n):
        roll = int(input("Enter your roll: "))
        name = input("Enter your name: ")
        age = int(input("Enter your age: "))
        add = input("Enter your address: ")
        row = [roll, name,age,add]
        writer = csv.writer(csvFile)
        writer.writerow(row)
csvFile.close()

How many times do you want to run the program: 2
Enter your roll: 7
Enter your name: hh
Enter your age: 21
Enter your address: akssn
Enter your roll: 8
Enter your name: asci
Enter your age: 12
Enter your address: chvhsa